html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/compass-mixins/lib/compass";
@import "../../node_modules/compass-mixins/lib/animate";
@import "../../node_modules/bootstrap/scss/bootstrap";

/* === Icon fonts === */
@import "./theme/password";
@import "./theme/variables";

// @import "../../node_modules/@mdi/font/scss/materialdesignicons.scss";

/* === Template mixins === */
@import "./theme/mixins/buttons";

/* === Core Styles === */
@import "./theme/components/bootstrap-alerts";
/* === Layout === */

@import "helpers/index.scss";
@import "layout/index.scss";
