.img-row {
  display: inline-block;
 
}
.heading {
  padding: 15px;
  color: brown;
  font-weight: 700;
  font-size: 25px;
}
.btn {
  background-color: blueviolet;
  color: aliceblue;
}
.type{
  font-size: 80px
  
}